<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/betail"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ beteItem.reference }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteBete()">
         
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="beteItem.imgURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <h1 text-center>{{ beteItem.reference }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <div class="ion-text-start">
              <strong>Type :</strong>
              {{ beteItem.origine }}
            </div>
          </ion-item>
          <ion-item>
            <div class="ion-text-start">
              <strong>Race :</strong>
              {{ beteItem.race }}
            </div>
          </ion-item>
          <ion-item>
            <div class="ion-text-start">
              <strong>Age :</strong>
              {{ beteItem.age }}
            </div>
          </ion-item>
          <ion-item>
            <div class="ion-text-start">
              <strong>Poids :</strong>
              {{ beteItem.poids }}
            </div>
          </ion-item>
          <ion-item>
            <div class="ion-text-start">
              <strong>Proprietaire :</strong>
              {{ beteItem.proprietaire }}
            </div>
          </ion-item>
          <ion-item>
            <div class="ion-text-start">
              <strong>location</strong>
              {{ beteItem.location.address }}
            </div>
          </ion-item>
          <br>
          <ion-item>
              <ion-img
              role="button"
              (click)="onShowFullMap()"
              class="location-image"
              [src]="beteItem.location.staticMapImageUrl"
            ></ion-img>
          </ion-item>
         
        </ion-list>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <br>
    <br>
    <!-- <ion-row>
      <ion-col>
          <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button>Declarer</ion-fab-button>
            
              <ion-fab-list side="top">
                <ion-fab-button>
                  <ion-icon name="trash"></ion-icon>
                </ion-fab-button>

              </ion-fab-list>
            
              <ion-fab-list side="start">
                <ion-fab-button>Vimeo</ion-fab-button>
              </ion-fab-list>
            
            </ion-fab>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="success" (click)="onSell()"
        ><ion-icon name="logo-usd"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button color="danger" (click)="onKill()"
        ><ion-icon name="power"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
