// ion-content{
//     --background:url(https://i.pinimg.com/originals/72/e8/4c/72e84c78a49ce4deb06a73d55bdff1f7.jpg);
// }
ion-item{
    --background-focused:rgb(37, 92, 192);
}
ion-card-header{
    padding:0px;
}
ion-card {
    width: 100%;
}