<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Betail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onAddButton()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <!-- <ion-row>
      <ion-col>
          <mat-form-field>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
              </mat-select>
            </mat-form-field>
      </ion-col>
    </ion-row> -->
    <div text-center *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <p text-center *ngIf="!isLoading && betes.length <= 0">
      pas de betes trouvees
    </p>
    <ion-row no-padding *ngIf="!isLoading && betes.length > 0">
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-searchbar showCancelButton="focus" debounce="500"></ion-searchbar>
        <ion-list>
          <ion-item-sliding *ngFor="let bete of betes; let i = index" #slide>
            <ion-item [routerLink]="['/betail', bete.reference]" lines="none">
              <!-- <ion-avatar slot="start">
                <ion-img [src]="bete.imgURL"></ion-img>
              </ion-avatar>
              <ion-label> {{ bete.reference }}</ion-label> -->
              <ion-card>
                <ion-card-header>
                  <ion-item lines="none" detail="true">
                    <ion-avatar slot="start">
                      <ion-img [src]="iconesToLoad[i]"></ion-img>
                    </ion-avatar>
                    <ion-label> {{ bete.reference }}</ion-label>
                  </ion-item>
                  <!-- <ion-card-title>{{ bete.reference }}</ion-card-title>
                    <ion-card-subtitle>{{ bete.origine }}</ion-card-subtitle> -->
                </ion-card-header>

                <ion-card-content>
                  {{ bete.origine }} | {{ bete.poids }} | {{ bete.age }}
                </ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                color="secondary"
                (click)="onEdit(bete.reference, slide)"
              >
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="logo-chrome"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
